@import url("../../index.css");

.my-link:hover,
.my-link-main {
    /* Cambiar color de texto */
    color: var(--AzulFuerte) !important;
    text-decoration: none;

}


.my-link {
    color: var(--Blanco) !important;
    /* Cambiar color de texto */
    text-decoration: none;
    /* Eliminar subrayado */
}

.link-btn {
    color: var(--Negro) !important;
    /* Cambiar color de texto */
    background-color: var(--AzulFuerte) !important;
    border-radius: 1rm;
    text-decoration: none;
    /* Eliminar subrayado */



}

.navbarmenu {

    font-family: var(--FuentePrincipal) !important;
    font-size: large;
    height: 8vh;
    z-index: 1;
    background-color: var(--Negro) !important;
}